body, html {
	font-family: "Roboto";
	color: white;
}

body {
	background-color: #0d1117;
}

* {
	padding: 0;
	margin: 0;
}

.header {
	text-align: center;
	margin: 50px;
}

.header > h1 {
	font-weight: bold;
	font-size: 48px;
	text-shadow: rgba(255.0, 255.0, 255.0, 0.5) 0 0 10px;
}

.header > p {
	font-size: 24px;
	padding-top: 5px;
	text-shadow: rgba(255.0, 255.0, 255.0, 0.5) 0 0 10px;
}

.projects-container {
	width: auto;
	display: flex;
	justify-content: center;
}

.projects {
	width: 600px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.project {
	width: auto;
	height: fit-content;
	border: 2px solid white;
	border-radius: 20px;
	text-shadow: rgba(255.0, 255.0, 255.0, 0.5) 0 0 2px;
	box-shadow: rgba(255.0, 255.0, 255.0, 0.5) 0 0 10px;
	transition: box-shadow 0.3s ease-in-out, text-shadow 0.3s ease-in-out, transform 0.2s ease-out;
	user-select: none;
}

.project-container {
	width: 100%;
	font-family: "Roboto";
	color: white;
    text-decoration: none;
}

.project-container:hover {
	cursor: pointer;
}

.project-container:hover .project {
	box-shadow: white 0 0 20px;
	text-shadow: white 0 0 15px;
	transform: translate(5px, 0);
}

.info {
	width: auto;
	padding: 10px 12px;
}

.info > h3 {
	font-size: 22px;
	padding-bottom: 3px;
}

.info > p {
	font-size: 16px;
}